/*
* Custom Style for WordCamp Cologne MMXV
* Based on awesome Twenty Twelve
* and styling for WordCamp Hamburg 2014
* by @pixolin
*/

/*
* Content
* 1.  SASS-Variables
* 2.  Basics (Typography)
* 3.  Setting up the page
* 4.  WordCamp-Logo
* 5.  Content
* 6.  Sections (#main, #primary, #secondary, footer)
* 7.  Styling Content
* 8.  Images
* 9.  Sponsors
* 10. Tickets
* 11. Attendees
* 12. Organizers
* 13. Speakers
* 14. Sessions
* 15. Navigation
* 16. Media Queries
*
*/

// 1. SASS-Variables

// Colors
$cgn-red: #E30613;
$cgn-navigrey: #979797;

// Fonts
$cgn-font: "Titillium Web", sans-serif;
$cgn-fontweight: 700;

// 2. Bascis (Typography)

html {
  font-size: 62.5%;
}

h1, h2, .entry-header .entry-title {
 font-weight: $cgn-fontweight;
 color: $cgn-red;
}

h3, h4, h5, h6 {
  font-weight: $cgn-fontweight;
  color: #444;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  font-size: 18px;
  font-size: 1.8rem;
}

strong, b {
  color: $cgn-red;
  font-weight: $cgn-fontweight;
}

a {
  text-decoration: none;
  color: $cgn-red;
  &:visited {
    color: $cgn-red;
  }
  &:hover {
    color: $cgn-red;
    border-bottom: 1px solid $cgn-red;
  }
  &:active {
    color: $cgn-red;
  }
  &:focus {
    color: $cgn-red;
  }
}

a:hover.sponsor-logo {
	border: none !important;
}

.entry-content a, .comment-content a {
  &:visited,  {
    color: $cgn-red;
  }

}

.nav-single {
  padding: 20px 0;
  overflow: hidden;
}

.subheading {
  text-align: center;
  background: #079;
  color: #fff;
  padding: 100px 0;
}


.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.181818182;
  text-transform: uppercase;
}

.entry-content h1, .comment-content h1 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1px;
}

.entry-content h2, .comment-content h2, .mu_register h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1px;
}

.entry-content h3, .comment-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.846153846;
  margin-bottom: 1px;
}

.entry-content h4, .comment-content h4 {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.846153846;
  margin-bottom: 1px;
}

.entry-content h5, .comment-content h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.846153846;
}

.entry-content h6, .comment-content h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.846153846;
}

.entry-content .wcorg-organizer h2 {
    margin-left: 150px; }

#respond h3#reply-title {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5;
}

article {
  &.format-quote footer.entry-meta, &.format-link footer.entry-meta, &.format-status footer.entry-meta {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 2.181818182;
  }
}

#respond form p.form-allowed-tags {font-size: 14px;font-size: 1.4rem;}

input {
  &[type="submit"], &[type="button"], &[type="reset"] {
    padding: 10px 20px;
    padding: 1rem 2rem;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.428571429;
    color: #fff;
    background-color: $cgn-red;
    background-repeat: repeat-x;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

article.post-password-required input[type="submit"], li.bypostauthor cite span {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.428571429;
  color: #fff;
  background-color: $cgn-red;
  background-repeat: repeat-x;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}


// 3. Setting up the page
body {
  font-size: 16px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: auto;
  font-family: $cgn-font;

  background: $cgn-navigrey;
  &.custom-font-enabled {
    font-family: $cgn-font;
  }
  // add top-margin when admin bar is used
  &.logged-in .main-navigation {
    margin: 28px 0 0;
  }

  // have content centered
  .site {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    background: none;
  }

  &.single #primary, &.page #primary {
    max-width: 800px;
    margin: 0 auto;
    float: none;
  }
  // header has background image
  &.custom-background {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
  }
  &.template-front-page .site-content,
  &.single-attachment .site-content,
  &.full-width .site-content {
    float: none;
    width: auto!important;
  }

}

// 4. WordCamp-Logo
// this is the section containing our logo
.site-header {
  margin: 0 auto;

}

// this is our logo (optimized for hidpi screens)
.header-image {
  box-shadow: none !important;
  display: block;
  margin: 60px auto 0 auto;
  width: 357px;
  height: auto;
}

// 5. Content
.site-content {
  float: none;
  width: auto;
  padding: 0 10px!important;
}

.error404 .content {
  padding: 50px;
}

// 6. Sections (#main, #primary, #secondary, footer)
#main {
  background: #fff;
  overflow: hidden;
}

#primary, .inner-wrapper, .site {
  margin: 0 auto 200px auto;
  padding: 0 10px;
  max-width: 800px;
}

#secondary {
  width: 100%;
  padding: 15px 0;
}

.widget-area {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
}


.widget-area .widget {
  p, li, .textwidget {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

footer {
  &[role="contentinfo"] {
    display: none;
  }
  a {
    text-decoration: none;
  }
  &.entry-meta {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.846153846;
  }
}


// 7. Styling Content
#content {
  padding: 50px 0;
}

.site-content {
  margin: 0;
}

.feature-content {
  float: none;
  width: auto;
  padding: 3% 10px;
}

.home .site-content {
  float: none;
}

.site-content article {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 40px;
}

.home .site-content article {
  border-bottom: none;
  padding-bottom: 0;
}

.entry-header .entry-title {
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 10px;
}

.archive-header, .page-header {
  display: none;
}

//post footer
.single-author .entry-meta .by-author {
display: auto;
}

a {
  &.comment-reply-link, &.comment-edit-link {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.846153846;
  }
}

.comments-area article header {
  cite, time {
    line-height: 1.4;
    text-decoration: none;
    font-size: 18px;
    font-size: 1.8rem;
    opacity: .6;
  }
}

.comments-title {
  margin-bottom: 48px;
  margin-bottom: 3.428571429rem;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5;
}

li.comment {
  margin-bottom: 20px;
}

.comments-area li.bypostauthor cite span {
  position: absolute;
  margin-left: 5px;
  margin-left: .357142857rem;
  padding: 2px 5px;
  padding: .142857143rem .357142857rem;
  font-size: 14px;
  font-size: 1.4rem;
}

.entry-header .comments-link {
  margin-top: 24px;
  margin-top: 1.714285714rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.846153846;
  color: #757575;
}

.entry-content table, .comment-content table {
  border-bottom: 1px solid #ededed;
  color: #757575;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  width: 100%;
}

input {
  &[type="submit"]:active, &[type="button"]:active, &[type="reset"]:active {
    color: #fff;
    background-color: $cgn-red;
    background-repeat: repeat-x;
    background-image: none;
    box-shadow: none;
    border: none;
  }
  &[type="submit"]:hover {
    background: $cgn-red;
    opacity: .7;
    color: #fff;
  }
}

#respond form {
  input[type="text"], textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.714285714;
    padding: 10px;
    background: #fff;
    padding: .714285714rem;
    border: 1px solid $cgn-navigrey;
    width: 100%;
  }
}

// 8. Images
.feature-image {
  width: 40%;
  float: left;
  display: none;
  img {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}

#content img {
  border: none;
  box-shadow: none;
}


// 9. Sponsors
a.sponsor-logo {
  float: left;
  margin: 0 10px 10px 0;
  display: table-cell;
}

.sponsor-level {
  clear: both;
  padding: 0;
  overflow: hidden;
}

.home #main .sponsor-level h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

.wcorg-sponsors {
  p, ul {
    margin: 0 0 1em 300px;
  }
  h2 {
  margin-bottom: 20px;
  padding: 10px 0;
  color: $cgn-red;
  text-transform: uppercase;
  border-bottom: 1px solid $cgn-red;
  }

}

.wcorg-sponsor {
  margin: 0 0 20px;
  padding: 0 0 20px;
  overflow: hidden;
  img {
    float: left;
    max-width: 250px;
  }
  h3 {
    margin: 0 0 0 300px;
  }
}


// 10. Tickets

#tix-attendees .tix-columns-3 li {
  width: 30%;
}

// 11. Attendees
#tix-attendees li {
  float: none;
  width: 100%;
}


#tix-attendees .tix-columns-3 li {
  width: 95%;
}


// 12. Organizers
// Icons for social networking for speakers, organizers
.socialbm {
  margin: 15px 0 0 150px;
  a img {
    width: 40px;
    height: auto;
  }
}

// 13. Speakers

.wcorg-speaker-description .avatar, .wcorg-organizer-description .avatar {
  float: left;
  margin: 0 20px 10px 0;
}

.wcorg-speaker, .wcorg-organizer {
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0 0 20px;
  overflow: hidden;
}

.wcorg-speaker p, .wcorg-organizer p {
  margin: 0 0 0 150px;
}


// 14. Sessions

a {
  &.wcpt-session-title {
    font-size: 18px;
    color: #333 !important;
  }
  &:visited.wcpt-session-title {
    color: #333 !important;
  }
}

.wcpt-col-time {
  padding: 0 40px 0 0;
}

.wcpt-schedule th {
  background: #eee;
  padding: 10px;
}


// 15. Navigation

.main-navigation a {
  color: #fff;
}

// Menu button for small screens


// Appearance of the Menu button on small screens
.menu-toggle {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.428571429;
  color: #fff;
  background-color: $cgn-red;
  background-repeat: repeat-x;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}


.menu-toggle {
  &:active, &:hover, &:focus, &.toggled-on {
    color: #fff;
    background-color: $cgn-red;
    background-repeat: repeat-x;
    background-image: none;
    box-shadow: none;
    border: none;
    opacity: .7;
  }
}

button:active {
  color: #fff;
  background-color: $cgn-red;
  background-repeat: repeat-x;
  background-image: none;
  box-shadow: none;
  border: none;
}

/*

ul#menu-menu.toggled-on li {
  width: auto;
  background: #fff;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-size: 1.8rem;
  a {
    text-decoration: none;
  }
}
 */


/* Nav Menu Bottom */
aside ul li {
    display: inline; white-space: nowrap;
      &:after {
        content: " \00b7";
      }
      &:last-child:after {
        content: none;
      }
}
.widget-area .widget a:hover {
color: $cgn-red;
}


// 16. Media Queries






// 16.1 Small Screens (below 900px)
@media only screen and (max-width: 899px) {

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
  display: none!important;
}

// toggle menu
.main-navigation ul.nav-menu.toggled-on {


  display: inline-block!important;

  .current_page_item, .current_page_parent, .current_page_parent li {
    background: $cgn-red;
  }

  li {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.42857143;
    display: block;
    background: $cgn-navigrey;
    padding: 20px;
    margin:0;
    z-index: 99;
    position: relative;
    border-bottom: 1px solid #fff;
    text-align: left;
    &:hover {
      background: $cgn-red;
    }
  }

  .children li {
    padding: 5px 5px 5px 20px;
    border: none;
    &:before {
      position: absolute;
      top: 8px;
      margin: 8px 0 0 -12px;
      vertical-align: middle;
      display: inline-block;
      width: 4px;
      height: 4px;
      background: #ccc;
      content: "";}
  }

  a, a:visited, a:hover, a:active, a:focus {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
    }

}

.menu-toggle {
  display: inline;
  margin-bottom: 10px;
}

.site-header {
  background: #fff url('https://cologne.wordcamp.org/2015/files/2015/05/cgnpano899.jpg') center top fixed no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}
.header-image {
  margin: 20px auto;
  width: 265px;
}

.wcorg-sponsors {
  h3, p, ul {
    margin: 0;
  }
}


#tix-attendees li {
    float: none;
    width: 100%;
  }
}

// 16.1 Overwrite settings of TwentyTwelve
@media screen and (min-width: 600px) {
  .main-navigation li a {
    line-height: 1;
  }

  .main-navigation ul.nav-menu,
  .main-navigation div.nav-menu > ul {
    width: auto;
  }

  .main-navigation li ul li a {
    background-color: $cgn-navigrey;
    &:hover {
      color: #FFF;
      background-color: $cgn-red;
    }
  }

}

// 16.2 Intermediate Screens (900px to 1919px)
@media only screen and (min-width: 900px) {

  nav#site-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: $cgn-navigrey;
    left: 0;
    z-index: 99999;
  }

  .main-navigation {

    margin: 0;

    ul.nav-menu {
      width: 100%;
      max-width: 1040px;

      border: none;

    }

    li {
      margin: 0;

      a {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 3.692307692;
        padding: 0 10px;
        &:hover {
        color: #fff;
        background-color: $cgn-red;
        }
      }

      &:last-child {
        float: right;
        background: #fff;
        a {
          color: $cgn-red;
          font-weight: 400;
        }
        a:hover {
          color: #fff;
          font-weight: 700;
        }
        & > ul {
          right: 0;
        }
      }
    }

    .current-menu-item > a,
    .current-menu-ancestor > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      color: #fff!important;
      background: $cgn-red;
      padding: 0 20px;
      font-size: 1.6rem;
    }


    // last menu item on white background
    .children li:last-child {
      float: none;
      a {
        color: #fff;
        font-weight: 700;
        }
    }

    .sub-menu li a {
      font-size: 1.6rem;
      padding: 0 30px;
      width: 150px;
    }
    .sub-menu li:last-child a {
        color: #fff;
        font-weight: 700;
    }

  }//.main-navigation




  .children .current_page_item a {
        padding: 0.571428571rem 0.714285714rem;
  }
  /*




    li {
      margin: 0;
    }
    ul.nav-menu, div.nav-menu > ul {
      border-top: none;
      border-bottom: 0 solid #111;
      display: inline-block !important;
      text-align: left;
      width: 100%;
    }
  }

  */


  .site-header {
    background: #fff url('https://cologne.wordcamp.org/2015/files/2014/12/cgnpano1920.jpg') right top fixed no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 460px;
  }


}

// 16.3 Large Screens (1920px and beyond)
@media only screen and (min-width: 1921px) {
   .site-header {
    background: #fff url('https://cologne.wordcamp.org/2015/files/2014/12/cgnpano1920.jpg') center top fixed no-repeat !important;
    height: 460px;
  }

}


/*
@media only screen and (min-width: 600px) {

  #tix-attendees {
    .tix-columns-3 li {
      width: 30%;
    }
    li {
      float: left;
      width: 50%;
      margin-bottom: 20px;
      height: 80px;
    }
  }
  .wcorg-sponsorsp, .main-navigation {
    margin: 0;
  }
  #content {
    padding: 50px 0;
  }

  .feature-image {
    width: 40%;
    float: left;
    display: block;
  }
  .feature-content {
    float: right;
    width: 55%;
    padding: 3% 0;
  }
  .section-wrapper {
    clear: both;
    padding: 60px 0;
    overflow: hidden;
    border-top: 1px solid #dfdfb4;
  }
  .home #main {
    h3 {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 1;
      padding: 0;
    }
    h4 {
      font-size: 48px;
      font-size: 4.8rem;
      color: #72724f;
      opacity: .8;
    }
  }
  .site-header {

    h1 {
      font-size: 30px;
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      font-size: 36px;
      font-size: 3.6rem;
      line-height: .8;
      margin: 30px 0 0;
    }
  }
  .header-image {
    margin: 4em auto;
  }
  .home {
    #main {
      background: #fff;
      color: #444;
      width: 100%;
      border-top: none;
    }
    .site-header {
      h2 {
        a:hover {
          color: #fff;
        }
        color: #fff;
      }
    }
  }



  .widget-area {
    float: none;
  }

}
*/
/*
@media only screen and (max-width: 900px) {
  #primary, .inner-wrapper, .site {
    margin: 0 auto 60px auto;
  }
  .main-navigation a {
    color: #fff;
  }
  .contact-form {
    input {
      &[type="text"], &[type="email"] {
        max-width: 95%;
        width: 300px;
      }
    }
    textarea {
      max-width: 95%;
      width: 300px;
    }
  }
  .site-content article {
    margin-bottom: 1.714286rem;
  }
  #secondary {
  padding: 20px 10px;
  }

  .widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 599px) {


}

.widget-area .widget {
  margin: 0 auto;
  p {
    margin: 0 0 10px 0;
  }
}

aside {
  h3, h4 {
  color: $cgn-red!important;
  text-transform: uppercase;
  }

  &.widget_text {
    text-align: left;
  }
  &.widget img {
    max-width: 250px !important;
    vertical-align: middle;
    height: auto;
  }
  .media-partner, .catering {
    display: none;
  }

  &.wcb_widget_sponsors, &.widget_nav_menu {
    border-top: 1px solid $cgn-red;
    padding: 20px 0;
  }
}


body.single-wcb_session footer.entry-meta {
  display: none;
}

table.wcpt-schedule {
  th {
    white-space: nowrap;
  }
  > * {
    font-size: .9em !important;
  }
}

.entry-content table a.wcpt-session-title {
  font-size: .95em !important;
}

#secondary .sponsor-level.bronze .sponsor-logo:nth-child(5) {
  clear: both;
}


.hidden {
  display: none;
  visibility: hidden;
}

.tix-column-remaining {
  display: none;
}

.wcpt-session-speakers {
  display: block;
}

body.single-wcb_sponsor {
  .entry-meta, .attachment-post-thumbnail {
    display: none;
  }
  #secondary .attachment-post-thumbnail {
    display: block;
  }
  background: #fff;
}

a#tix-coupon-link {
  color: #fff;
  background: #98986a;
  padding: 6px 12px;
  text-decoration: none;
}

body.single-wcb_sponsor #secondary {
  clear: both;
  background: #fff;
  padding: 30px 0;
  border-top: none;
}

.wcb_widget_sponsors .sponsor-logo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.sponsor-level.community-partner {
  display: none;
}
*/

