@charset "UTF-8";
/*
* Custom Style for WordCamp Cologne MMXV
* Based on awesome Twenty Twelve
* and styling for WordCamp Hamburg 2014
* by @pixolin
*/
/*
* Content
* 1.  SASS-Variables
* 2.  Basics (Typography)
* 3.  Setting up the page
* 4.  WordCamp-Logo
* 5.  Content
* 6.  Sections (#main, #primary, #secondary, footer)
* 7.  Styling Content
* 8.  Images
* 9.  Sponsors
* 10. Tickets
* 11. Attendees
* 12. Organizers
* 13. Speakers
* 14. Sessions
* 15. Navigation
*/
/* line 39, wccgn-style.scss */
html {
  font-size: 62.5%; }

/* line 43, wccgn-style.scss */
h1, h2, .entry-header .entry-title {
  font-weight: 700;
  color: #E30613; }

/* line 48, wccgn-style.scss */
h3, h4, h5, h6 {
  font-weight: 700;
  color: #444; }

/* line 53, wccgn-style.scss */
p, h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  font-size: 18px;
  font-size: 1.8rem; }

/* line 61, wccgn-style.scss */
strong, b {
  color: #E30613;
  font-weight: 700; }

/* line 66, wccgn-style.scss */
a {
  text-decoration: none;
  color: #E30613; }
  /* line 69, wccgn-style.scss */
  a:visited {
    color: #E30613; }
  /* line 72, wccgn-style.scss */
  a:hover {
    color: #E30613;
    border-bottom: 1px solid #E30613; }
  /* line 76, wccgn-style.scss */
  a:active {
    color: #E30613; }
  /* line 79, wccgn-style.scss */
  a:focus {
    color: #E30613; }

/* line 84, wccgn-style.scss */
a:hover.sponsor-logo {
  border: none !important; }

/* line 89, wccgn-style.scss */
.entry-content a:visited, .comment-content a:visited {
  color: #E30613; }

/* line 95, wccgn-style.scss */
.nav-single {
  padding: 20px 0;
  overflow: hidden; }

/* line 100, wccgn-style.scss */
.subheading {
  text-align: center;
  background: #079;
  color: #fff;
  padding: 100px 0; }

/* line 108, wccgn-style.scss */
.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.181818182;
  text-transform: uppercase; }

/* line 115, wccgn-style.scss */
.entry-content h1, .comment-content h1 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1px; }

/* line 122, wccgn-style.scss */
.entry-content h2, .comment-content h2, .mu_register h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1px; }

/* line 129, wccgn-style.scss */
.entry-content h3, .comment-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.846153846;
  margin-bottom: 1px; }

/* line 136, wccgn-style.scss */
.entry-content h4, .comment-content h4 {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.846153846;
  margin-bottom: 1px; }

/* line 143, wccgn-style.scss */
.entry-content h5, .comment-content h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.846153846; }

/* line 149, wccgn-style.scss */
.entry-content h6, .comment-content h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.846153846; }

/* line 155, wccgn-style.scss */
.entry-content .wcorg-organizer h2 {
  margin-left: 150px; }

/* line 158, wccgn-style.scss */
#respond h3#reply-title {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5; }

/* line 165, wccgn-style.scss */
article.format-quote footer.entry-meta, article.format-link footer.entry-meta, article.format-status footer.entry-meta {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.181818182; }

/* line 172, wccgn-style.scss */
#respond form p.form-allowed-tags {
  font-size: 14px;
  font-size: 1.4rem; }

/* line 175, wccgn-style.scss */
input[type="submit"], input[type="button"], input[type="reset"] {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.428571429;
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }

/* line 191, wccgn-style.scss */
article.post-password-required input[type="submit"], li.bypostauthor cite span {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.428571429;
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }

/* line 208, wccgn-style.scss */
body {
  font-size: 16px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: auto;
  font-family: "Titillium Web", sans-serif;
  background: #979797; }
  /* line 217, wccgn-style.scss */
  body.custom-font-enabled {
    font-family: "Titillium Web", sans-serif; }
  /* line 221, wccgn-style.scss */
  body.logged-in .main-navigation {
    margin: 28px 0 0; }
  /* line 226, wccgn-style.scss */
  body .site {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    background: none; }
  /* line 235, wccgn-style.scss */
  body.single #primary, body.page #primary {
    max-width: 800px;
    margin: 0 auto;
    float: none; }
  /* line 241, wccgn-style.scss */
  body.custom-background {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed; }
  /* line 246, wccgn-style.scss */
  body.template-front-page .site-content, body.single-attachment .site-content, body.full-width .site-content {
    float: none;
    width: auto !important; }

/* line 257, wccgn-style.scss */
.site-header {
  margin: 0 auto; }

/* line 263, wccgn-style.scss */
.header-image {
  box-shadow: none !important;
  display: block;
  margin: 60px auto 0 auto;
  width: 357px;
  height: auto; }

/* line 272, wccgn-style.scss */
.site-content {
  float: none;
  width: auto;
  padding: 0 10px !important; }

/* line 278, wccgn-style.scss */
.error404 .content {
  padding: 50px; }

/* line 283, wccgn-style.scss */
#main {
  background: #fff;
  overflow: hidden; }

/* line 288, wccgn-style.scss */
#primary, .inner-wrapper, .site {
  margin: 0 auto 200px auto;
  padding: 0 10px;
  max-width: 800px; }

/* line 294, wccgn-style.scss */
#secondary {
  width: 100%;
  padding: 15px 0; }

/* line 299, wccgn-style.scss */
.widget-area {
  width: auto;
  max-width: 800px;
  margin: 0 auto; }

/* line 307, wccgn-style.scss */
.widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4; }

/* line 315, wccgn-style.scss */
footer[role="contentinfo"] {
  display: none; }
/* line 318, wccgn-style.scss */
footer a {
  text-decoration: none; }
/* line 321, wccgn-style.scss */
footer.entry-meta {
  margin-top: 24px;
  margin-top: 1.714285714rem;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.846153846; }

/* line 332, wccgn-style.scss */
#content {
  padding: 50px 0; }

/* line 336, wccgn-style.scss */
.site-content {
  margin: 0; }

/* line 340, wccgn-style.scss */
.feature-content {
  float: none;
  width: auto;
  padding: 3% 10px; }

/* line 346, wccgn-style.scss */
.home .site-content {
  float: none; }

/* line 350, wccgn-style.scss */
.site-content article {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 40px; }

/* line 355, wccgn-style.scss */
.home .site-content article {
  border-bottom: none;
  padding-bottom: 0; }

/* line 360, wccgn-style.scss */
.entry-header .entry-title {
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 10px; }

/* line 368, wccgn-style.scss */
.archive-header, .page-header {
  display: none; }

/* line 373, wccgn-style.scss */
.single-author .entry-meta .by-author {
  display: auto; }

/* line 378, wccgn-style.scss */
a.comment-reply-link, a.comment-edit-link {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.846153846; }

/* line 386, wccgn-style.scss */
.comments-area article header cite, .comments-area article header time {
  line-height: 1.4;
  text-decoration: none;
  font-size: 18px;
  font-size: 1.8rem;
  opacity: .6; }

/* line 395, wccgn-style.scss */
.comments-title {
  margin-bottom: 48px;
  margin-bottom: 3.428571429rem;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5; }

/* line 403, wccgn-style.scss */
li.comment {
  margin-bottom: 20px; }

/* line 407, wccgn-style.scss */
.comments-area li.bypostauthor cite span {
  position: absolute;
  margin-left: 5px;
  margin-left: .357142857rem;
  padding: 2px 5px;
  padding: .142857143rem .357142857rem;
  font-size: 14px;
  font-size: 1.4rem; }

/* line 417, wccgn-style.scss */
.entry-header .comments-link {
  margin-top: 24px;
  margin-top: 1.714285714rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.846153846;
  color: #757575; }

/* line 426, wccgn-style.scss */
.entry-content table, .comment-content table {
  border-bottom: 1px solid #ededed;
  color: #757575;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  width: 100%; }

/* line 438, wccgn-style.scss */
input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  box-shadow: none;
  border: none; }
/* line 446, wccgn-style.scss */
input[type="submit"]:hover {
  background: #E30613;
  opacity: .7;
  color: #fff; }

/* line 454, wccgn-style.scss */
#respond form input[type="text"], #respond form textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.714285714;
  padding: 10px;
  background: #fff;
  padding: .714285714rem;
  border: 1px solid #979797;
  width: 100%; }

/* line 469, wccgn-style.scss */
.feature-image {
  width: 40%;
  float: left;
  display: none; }
  /* line 473, wccgn-style.scss */
  .feature-image img {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none; }

/* line 481, wccgn-style.scss */
#content img {
  border: none;
  box-shadow: none; }

/* line 488, wccgn-style.scss */
a.sponsor-logo {
  float: left;
  margin: 0 10px 10px 0;
  display: table-cell; }

/* line 494, wccgn-style.scss */
.sponsor-level {
  clear: both;
  padding: 0;
  overflow: hidden; }

/* line 500, wccgn-style.scss */
.home #main .sponsor-level h4 {
  font-size: 18px;
  font-size: 1.8rem; }

/* line 506, wccgn-style.scss */
.wcorg-sponsors p, .wcorg-sponsors ul {
  margin: 0 0 1em 300px; }
/* line 509, wccgn-style.scss */
.wcorg-sponsors h2 {
  margin-bottom: 20px;
  padding: 10px 0;
  color: #E30613;
  text-transform: uppercase;
  border-bottom: 1px solid #E30613; }

/* line 519, wccgn-style.scss */
.wcorg-sponsor {
  margin: 0 0 20px;
  padding: 0 0 20px;
  overflow: hidden; }
  /* line 523, wccgn-style.scss */
  .wcorg-sponsor img {
    float: left;
    max-width: 250px; }
  /* line 527, wccgn-style.scss */
  .wcorg-sponsor h3 {
    margin: 0 0 0 300px; }

/* line 535, wccgn-style.scss */
#tix-attendees .tix-columns-3 li {
  width: 30%; }

/* line 540, wccgn-style.scss */
#tix-attendees li {
  float: none;
  width: 100%; }

/* line 546, wccgn-style.scss */
#tix-attendees .tix-columns-3 li {
  width: 95%; }

/* line 553, wccgn-style.scss */
.socialbm {
  margin: 15px 0 0 150px; }
  /* line 555, wccgn-style.scss */
  .socialbm a img {
    width: 40px;
    height: auto; }

/* line 563, wccgn-style.scss */
.wcorg-speaker-description .avatar, .wcorg-organizer-description .avatar {
  float: left;
  margin: 0 20px 10px 0; }

/* line 568, wccgn-style.scss */
.wcorg-speaker, .wcorg-organizer {
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0 0 20px;
  overflow: hidden; }

/* line 575, wccgn-style.scss */
.wcorg-speaker p, .wcorg-organizer p {
  margin: 0 0 0 150px; }

/* line 583, wccgn-style.scss */
a.wcpt-session-title {
  font-size: 18px;
  color: #333 !important; }
/* line 587, wccgn-style.scss */
a:visited.wcpt-session-title {
  color: #333 !important; }

/* line 592, wccgn-style.scss */
.wcpt-col-time {
  padding: 0 40px 0 0; }

/* line 596, wccgn-style.scss */
.wcpt-schedule th {
  background: #eee;
  padding: 10px; }

/* line 604, wccgn-style.scss */
ul#menu-menu.toggled-on li {
  width: auto;
  background: #fff;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-size: 1.8rem; }
  /* line 611, wccgn-style.scss */
  ul#menu-menu.toggled-on li a {
    text-decoration: none; }

/* line 616, wccgn-style.scss */
.menu-toggle {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.428571429;
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }

/* line 633, wccgn-style.scss */
.menu-toggle:active, .menu-toggle:hover, .menu-toggle.toggled-on {
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  box-shadow: none;
  border: none;
  opacity: .7; }

/* line 644, wccgn-style.scss */
button:active {
  color: #fff;
  background-color: #E30613;
  background-repeat: repeat-x;
  background-image: none;
  box-shadow: none;
  border: none; }

/* line 655, wccgn-style.scss */
.main-navigation a {
  color: #fff; }

/* Nav Menu Bottom */
/* line 661, wccgn-style.scss */
aside ul li {
  display: inline;
  white-space: nowrap; }
  /* line 663, wccgn-style.scss */
  aside ul li:after {
    content: " \00b7"; }
  /* line 666, wccgn-style.scss */
  aside ul li:last-child:after {
    content: none; }

/* line 670, wccgn-style.scss */
.widget-area .widget a:hover {
  color: #E30613; }

@media only screen and (max-width: 899px) {
  /* line 681, wccgn-style.scss */
  .main-navigation ul.nav-menu.toggled-on .current_page_item, .main-navigation ul.nav-menu.toggled-on .current_page_parent, .main-navigation ul.nav-menu.toggled-on .current_page_parent li {
    background: #E30613; }
  /* line 685, wccgn-style.scss */
  .main-navigation ul.nav-menu.toggled-on li {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.42857143;
    display: block;
    background: #979797;
    padding: 20px;
    margin: 0;
    z-index: 99;
    position: relative;
    border-bottom: 1px solid #fff;
    text-align: left; }
  /* line 700, wccgn-style.scss */
  .main-navigation ul.nav-menu.toggled-on .children li {
    padding: 5px 5px 5px 20px;
    border: none; }
    /* line 703, wccgn-style.scss */
    .main-navigation ul.nav-menu.toggled-on .children li:before {
      position: absolute;
      top: 8px;
      margin: 8px 0 0 -12px;
      vertical-align: middle;
      display: inline-block;
      width: 4px;
      height: 4px;
      background: #ccc;
      content: ""; }
  /* line 715, wccgn-style.scss */
  .main-navigation ul.nav-menu.toggled-on a, .main-navigation ul.nav-menu.toggled-on a:visited, .main-navigation ul.nav-menu.toggled-on a:hover, .main-navigation ul.nav-menu.toggled-on a:active, .main-navigation ul.nav-menu.toggled-on a:focus {
    text-decoration: none;
    color: #fff; }

  /* line 722, wccgn-style.scss */
  #tix-attendees li {
    float: none;
    width: 100%; } }
@media only screen and (min-width: 600px) {
  /* line 740, wccgn-style.scss */
  nav#site-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: #979797;
    left: 0;
    z-index: 99999; }

  /* line 748, wccgn-style.scss */
  .main-navigation a {
    color: #fff; }

  /* line 753, wccgn-style.scss */
  .main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a, .main-navigation .current_page_item > a, .main-navigation .current_page_ancestor > a {
    color: #fff !important;
    background: #E30613;
    padding: 0 20px;
    font-size: 1.6rem; }
  /* line 761, wccgn-style.scss */
  .main-navigation .children .current_page_item a {
    padding: 0.571428571rem 0.714285714rem; }
  /* line 768, wccgn-style.scss */
  .main-navigation li a:hover {
    color: #fff;
    background-color: #E30613; }
  /* line 773, wccgn-style.scss */
  .main-navigation li:last-child {
    float: right;
    background: #fff; }
    /* line 776, wccgn-style.scss */
    .main-navigation li:last-child a {
      color: #E30613;
      font-weight: 400; }
    /* line 780, wccgn-style.scss */
    .main-navigation li:last-child a:hover {
      color: #fff;
      font-weight: 700; }
  /* line 787, wccgn-style.scss */
  .main-navigation li:last-child.current_page_item a {
    color: #fff; }
  /* line 794, wccgn-style.scss */
  .main-navigation a {
    color: #fff;
    padding: 0 15px;
    font-size: 1.6rem; }
  /* line 799, wccgn-style.scss */
  .main-navigation .sub-menu li a {
    font-size: 1.6rem;
    padding: 0 30px;
    width: 150px; }
  /* line 804, wccgn-style.scss */
  .main-navigation .sub-menu li:last-child a {
    color: #fff;
    font-weight: 700; }
  /* line 809, wccgn-style.scss */
  .main-navigation li {
    margin: 0; }
  /* line 812, wccgn-style.scss */
  .main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    border-top: none;
    border-bottom: 0 solid #111;
    display: inline-block !important;
    text-align: left;
    width: 100%; }

  /* line 822, wccgn-style.scss */
  #tix-attendees .tix-columns-3 li {
    width: 30%; }
  /* line 825, wccgn-style.scss */
  #tix-attendees li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    height: 80px; }

  /* line 832, wccgn-style.scss */
  .wcorg-sponsorsp, .main-navigation {
    margin: 0; }

  /* line 835, wccgn-style.scss */
  #content {
    padding: 50px 0; }

  /* line 839, wccgn-style.scss */
  .feature-image {
    width: 40%;
    float: left;
    display: block; }

  /* line 844, wccgn-style.scss */
  .feature-content {
    float: right;
    width: 55%;
    padding: 3% 0; }

  /* line 849, wccgn-style.scss */
  .section-wrapper {
    clear: both;
    padding: 60px 0;
    overflow: hidden;
    border-top: 1px solid #dfdfb4; }

  /* line 856, wccgn-style.scss */
  .home #main h3 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1;
    padding: 0; }
  /* line 862, wccgn-style.scss */
  .home #main h4 {
    font-size: 48px;
    font-size: 4.8rem;
    color: #72724f;
    opacity: .8; }

  /* line 871, wccgn-style.scss */
  .site-header h1 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  /* line 880, wccgn-style.scss */
  .site-header h2 {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: .8;
    margin: 30px 0 0; }

  /* line 887, wccgn-style.scss */
  .header-image {
    margin: 4em auto; }

  /* line 891, wccgn-style.scss */
  .home #main {
    background: #fff;
    color: #444;
    width: 100%;
    border-top: none; }
  /* line 898, wccgn-style.scss */
  .home .site-header h2 {
    color: #fff; }
    /* line 899, wccgn-style.scss */
    .home .site-header h2 a:hover {
      color: #fff; }

  /* line 909, wccgn-style.scss */
  .widget-area {
    float: none; } }
@media only screen and (max-width: 599px) {
  /* line 916, wccgn-style.scss */
  #primary, .inner-wrapper, .site {
    margin: 0 auto 60px auto; }

  /* line 919, wccgn-style.scss */
  .main-navigation a {
    color: #fff; }

  /* line 924, wccgn-style.scss */
  .contact-form input[type="text"], .contact-form input[type="email"] {
    max-width: 95%;
    width: 300px; }
  /* line 929, wccgn-style.scss */
  .contact-form textarea {
    max-width: 95%;
    width: 300px; }

  /* line 934, wccgn-style.scss */
  .site-content article {
    margin-bottom: 1.714286rem; }

  /* line 937, wccgn-style.scss */
  #secondary {
    padding: 20px 10px; }

  /* line 941, wccgn-style.scss */
  .widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget {
    font-size: 14px;
    font-size: 1.4rem; } }
@media only screen and (min-width: 599px) {
  /* line 949, wccgn-style.scss */
  .main-navigation ul {
    max-width: 1040px; }
  /* line 952, wccgn-style.scss */
  .main-navigation li a {
    color: #fff;
    font-weight: 700; }
  /* line 956, wccgn-style.scss */
  .main-navigation li ul li a {
    color: #fff;
    background: #979797;
    font-size: 16px;
    font-size: 1.6rem; }
    /* line 963, wccgn-style.scss */
    .main-navigation li ul li a:hover {
      background: #E30613;
      color: #fff; }
  /* line 972, wccgn-style.scss */
  .main-navigation .children li:last-child {
    float: none; }
    /* line 974, wccgn-style.scss */
    .main-navigation .children li:last-child a {
      color: #fff;
      font-weight: 700; } }
/* line 985, wccgn-style.scss */
.widget-area .widget {
  margin: 0 auto; }
  /* line 987, wccgn-style.scss */
  .widget-area .widget p {
    margin: 0 0 10px 0; }

/* line 993, wccgn-style.scss */
aside h3, aside h4 {
  color: #E30613 !important;
  text-transform: uppercase; }
/* line 998, wccgn-style.scss */
aside.widget_text {
  text-align: left; }
/* line 1001, wccgn-style.scss */
aside.widget img {
  max-width: 250px !important;
  vertical-align: middle;
  height: auto; }
/* line 1006, wccgn-style.scss */
aside .media-partner, aside .catering {
  display: none; }
/* line 1010, wccgn-style.scss */
aside.wcb_widget_sponsors, aside.widget_nav_menu {
  border-top: 1px solid #E30613;
  padding: 20px 0; }

/* line 1017, wccgn-style.scss */
body.single-wcb_session footer.entry-meta {
  display: none; }

/* line 1022, wccgn-style.scss */
table.wcpt-schedule th {
  white-space: nowrap; }
/* line 1025, wccgn-style.scss */
table.wcpt-schedule > * {
  font-size: .9em !important; }

/* line 1030, wccgn-style.scss */
.entry-content table a.wcpt-session-title {
  font-size: .95em !important; }

/* line 1034, wccgn-style.scss */
#secondary .sponsor-level.bronze .sponsor-logo:nth-child(5) {
  clear: both; }

/* line 1039, wccgn-style.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 1044, wccgn-style.scss */
.tix-column-remaining {
  display: none; }

/* line 1048, wccgn-style.scss */
.wcpt-session-speakers {
  display: block; }

/* line 1052, wccgn-style.scss */
body.single-wcb_sponsor {
  background: #fff; }
  /* line 1053, wccgn-style.scss */
  body.single-wcb_sponsor .entry-meta, body.single-wcb_sponsor .attachment-post-thumbnail {
    display: none; }
  /* line 1056, wccgn-style.scss */
  body.single-wcb_sponsor #secondary .attachment-post-thumbnail {
    display: block; }

/* line 1062, wccgn-style.scss */
a#tix-coupon-link {
  color: #fff;
  background: #98986a;
  padding: 6px 12px;
  text-decoration: none; }

/* line 1069, wccgn-style.scss */
body.single-wcb_sponsor #secondary {
  clear: both;
  background: #fff;
  padding: 30px 0;
  border-top: none; }

/* line 1076, wccgn-style.scss */
.wcb_widget_sponsors .sponsor-logo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none; }

/* line 1085, wccgn-style.scss */
.sponsor-level.community-partner {
  display: none; }

/*  große Bildschirme */
@media only screen and (min-width: 1921px) {
  /* line 1092, wccgn-style.scss */
  .site-header {
    background: #fff url("https://cologne.wordcamp.org/2015/files/2014/12/cgnpano1920.jpg") center top fixed no-repeat !important;
    height: 460px; } }
/* normale Bildschirme */
@media only screen and (min-width: 600px) and (max-width: 1920px) {
  /* line 1101, wccgn-style.scss */
  .site-header {
    background: #fff url("https://cologne.wordcamp.org/2015/files/2014/12/cgnpano1920.jpg") right top fixed no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 460px; } }
/* Mobile */
@media only screen and (max-width: 599px) {
  /* line 1113, wccgn-style.scss */
  .site-header {
    background: #fff url("https://cologne.wordcamp.org/2015/files/2014/12/cgnpano600.jpg") center top fixed no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 340px; }

  /* line 1121, wccgn-style.scss */
  .header-image {
    margin: 20px auto;
    width: 265px; }

  /* line 1127, wccgn-style.scss */
  .wcorg-sponsors h3, .wcorg-sponsors p, .wcorg-sponsors ul {
    margin: 0; } }
@media only screen and (min-width: 600px) and (max-width: 820px) {
  /* line 1135, wccgn-style.scss */
  #secondary {
    padding: 15px 10px; } }
